{% set active_page = request.path %}
<ul class="nav nav-pills text-center">
{% for nav in navigation %}
    {% if nav == 'markers_map' %}
        {% set runav = 'Структура здравоохранения' %}
    {% elif nav == 'disease_map' %}
        {% set runav = 'Заболеваемость' %}
    {% elif nav == 'population_map' %}
        {% set runav = 'Демография населения' %}
    {% elif nav == 'analysis' %}
        {% set runav = 'Прогноз' %}
    {% endif %}
    {% set url = url_for(nav|replace(' ','_')) %}
    <li role="presentation" {%- if active_page==url%} class="active" {% endif %}>
        <a href="{{url}}">{{runav|capitalize}}</a>
    </li>
{% endfor %}

    {% if 'username' in session %}
        <li role="presentation" style="float: right;" class="btn">
            <a href="{{ url_for('logout') }}">Выход</a>
        </li>
    {% else %}
    <li role="presentation" style="float: right;" class="btn">
        <a href="{{ url_for('login') }}"><i class="fa fa-sign-in" aria-hidden="true" style="font-size:25px"></i></a>
    </li>
    {% endif %}
    {% if 'username' in session %}
    <li role="presentation" style="float: right;" class="btn">
    <a href="{{ url_for('population') }}">Панель администратора</a>
    </li>
    {% endif %}
</ul>
