{% extends "_base.html" %}

{% block js %}

<script>

   var map = new GMaps({
  div: '#map',
  height: "530px",
  width: "870px",
  lat: 51.35,
  lng: 46.70,
    zoom: 7
});
{% for p in poly %}
        polygon = map.drawPolygon({
            paths: {{ p['path'] }}, // pre-defined polygon shape
            strokeColor: '{{ p['stroke_color'] }}',
            strokeOpacity: {{ p['stroke_opacity'] }},
            strokeWeight: {{ p['stroke_weight'] }},
            fillColor: '#{{ p['fill_color'] }}',
            fillOpacity: 0.5
        });

   {% endfor %}
</script>
  <!-- Подключение JS для google карты -->

    <script type="text/javascript" charset="utf-8">
    function submit(form){
	    //webix.ajax.prototype.post('markers_map', JSON.stringify($$("myForm").getValues(), null, 2));
        webix.send('disease_map', $$(form).getValues());
    }
    var tabs = [{header: 'Первичная'}, {header: 'Общая'}];
    webix.ui({
        container: "gmap-menu",
        padding:8,
        id:"views",
        cells:[
            {
                id:"listView",
                view:"list",
                template:"#header#",
                type:{
                    height:60
                },
                select:true,
                data:tabs
            },
            {
                id:"formViewПервичная",
                view:"form",
                scroll:false,
                elements:[
                    {
                        view:"radio",
                        width:300,
                        height: 550,
                        vertical: true,
                        name:"first",
                        options: [
                        {% for disease in diseases %}
                          {"id": {{ disease.id }}, "value": "{{ disease.name }}" }{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        ]
                    },
                    {
                        view:"select",
                        label: "Возраст",
                        name:"age",
                        width: 250,
                        placeholder:"Возраст",
                        options: [
                                {
                                    "id": 1,
                                    "value": "Дети"
                                },
                                {
                                    "id": 2,
                                    "value": "Подростки"
                                },
                                {
                                    "id": 3,
                                    "value": "Взрослые"
                                },
                                {
                                    "id": 4,
                                    "value": "Общий"
                                }
                        ], labelWidth: 70},
                    { view:"select", width: 250,
                    label: "Год",  name:"year",  placeholder:"Год", options: [
                            {% for year in years['first'] %}
                                {
                                    "id": {{ year.id}},
                                    "value": {{ year.year }}
                                }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ], labelWidth: 70},
                    { margin:5, cols:[
                        { view:"button", width: 130, value:"Назад" , click:"cancel()" },
                        { view:"button", width: 130, value:"Показать", type:"form", click:"submit('formView'.concat('Первичная'))" }
                    ]},
	                {}
                ]
            },
            {
                id:"formViewОбщая",
                view:"form",
                scroll:false,
                elements:[
                    {
                        view:"radio",
                        width:300,
                        height: 550,
                        vertical: true,
                        name:"all",
                        options: [
                        {% for disease in diseases %}
                          {"id": {{ disease.id }}, "value": "{{ disease.name }}" }{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        ]
                    },
                    {
                        view:"select",
                        label: "Возраст",
                        width: 250,
                        name:"age",
                        placeholder:"Возраст",
                        options: [
                                {
                                    "id": 1,
                                    "value": "Дети"
                                },
                                {
                                    "id": 2,
                                    "value": "Подростки"
                                },
                                {
                                    "id": 3,
                                    "value": "Взрослые"
                                },
                                {
                                    "id": 4,
                                    "value": "Общий"
                                }
                        ], labelWidth: 70},
                    { view:"select",
                     width: 250, label: "Год",  name:"year",  placeholder:"Год", width: 300, options: [
                            {% for year in years['all'] %}
                                {
                                    "id": {{ year.id}},
                                    "value": {{ year.year }}
                                }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ], labelWidth: 40},
                    { margin:5, cols:[
                        { view:"button", width: 130, value:"Назад" , click:"cancel()" },
                        { view:"button", width: 130, value:"Показать", type:"form", click:"submit('formView'.concat('Общая'))"}
                    ]}]}]});
     /*
     binds Form with List:
     - selected item loaded in Form,
     - updating data after form saving
    */
    $$("formViewПервичная").bind($$('listView'));
    $$("formViewОбщая").bind($$('listView'));

    /*
        opening form on item selection
    */
    $$("listView").attachEvent("onItemClick",function(id){
        var form_name = 'formView'.concat($$("listView").getItem(id).header);
        console.log(form_name);
        $$(form_name).show();
    });

    /*
        data saving and opening previous view
     */
    function save(){
        var form_name = 'formView'.concat($$("listView").getItem(id).header);
        submit(form_name)
    }
    /*
        cancel editing
    */
    function cancel(){
        $$("views").back();
    }
    </script>
<script>
    var c=document.getElementById("myLegend");
var ctx=c.getContext("2d");
var x = 10;
{% for c,b in legend.items() %}
ctx.fillStyle="#{{ c }}";
ctx.fillRect(x,5,40,20);
ctx.font = "10px Arial";
ctx.fillStyle="black";
ctx.fillText("{{ b }}",x-5,50);
x = x+70;

{% endfor %}

</script>
<script>

$('th').append("{{ dataset['label'] }} ({{ dataset['year'] }} г., {{ dataset['age'] }})");
document.getElementById("legend_head").colSpan = document.getElementById('legend_table').rows[1].cells.length;

</script>

{% endblock %}

{% block content %}

    <br>

{% include "_navigation.html" %}

<hr>
<!-- Отображение google карты -->
    <div class="map-container" align="center">
    <table>
    <tr>
        <td>
        <div id="map"></div>
        </td>
        <td>
        <div id="gmap-menu" style="overflow-y: visible; overflow-x: hidden;">
        </div>
        </td>
    </tr>
    </table>
</div>
{% if dataset['cr'] != [] %}
<div id="legend">
                <canvas id="myLegend" width="870" height="60" ></canvas>
                <table id="legend_table" border="1">
                    <tr>
                        <th id="legend_head">

                        </th>
                    </tr>
                    {% for el in range(0, 39, 3) %}
                      <tr>
                          <td>
                              {{ dataset['cr'][el][0] }}
                          </td>
                          <td>
                              {{ dataset['cr'][el][1] }}
                          </td>

                          <td>
                              {{ dataset['cr'][el+1][0] }}
                          </td>
                          <td>
                              {{ dataset['cr'][el+1][1] }}
                          </td>

                          <td>
                              {{ dataset['cr'][el+2][0] }}
                          </td>
                          <td>
                              {{ dataset['cr'][el+2][1] }}
                          </td>
                      </tr>
                    {% endfor %}
        <tr>

        </tr>
    </table>
            </div>
{% endif %}
<!--<div id="map"></div>-->

{% endblock %}
