{% extends "_base.html" %}
{% block content %}
{% from "_macro.html" import text_input with context %}
{% from "_macro.html" import submit with context %}
{% from "_macro.html" import select with context %}

<div class="container">
    <div class="text-center">
        {% include "_navigation.html" %}
        {% include "_admin_navigation.html" %}
        <div>
            <fieldset>
                <legend>Заболеваемость населения</legend>
            <form class="form" action="/disease_population" method="POST" enctype="multipart/form-data">
                <input type=file name="dp_file">
                <input type=submit value=Загрузить>
                {#{ file_input('reprod_file') }#}
                </form>
            </fieldset></div>
        <button type="button" class="btn btn-info from-group"
                data-toggle="collapse"
                data-target="#collapse-input">Добавить новый элемент
        </button>
        <div id="collapse-input" class="collapse out">
            <form class="form" action="/disease_population" method="POST">
                <hr/>
                {{ text_input('year','Введите год...', True) }}
                {{ text_input('children','Введите число детей...') }}
                {{ text_input('children_observed','Введите число наблюдаемых детей...') }}
                {{ text_input('adults','Введите число взрослых...') }}
                {{ text_input('adults_observed','Введите число наблюдаемых взрослых...') }}
                {{ select('disease') }}
                {{ select('hospital') }}
                {{ submit('add') }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

