{% extends '_base.html' %}
{% block content %}
{% from "_macro.html" import text_input with context %}
{% from "_macro.html" import submit with context %}
{% from "_macro.html" import select with context %}
    <div class="container">
        <h1>Войти</h1>
        <form method="POST" action={{ request.path }}>
            {{ form.hidden_tag() }}
            <div class="input-group">{{ form.username.label }} {{ form.username }}
                <br>
                <br>
                {{ form.password.label }} {{ form.password }}</div>
            <br>
            <br>
            <div>{{ form.login }}</div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        $("#username").addClass('input-sm');
        $("#password").addClass('input-sm');
        $("#login").addClass('btn btn-primary');
    </script>
{% endblock %}