{% extends "_base.html" %}

{% block js %}

 <script>

   var map = new GMaps({
  div: '#map',
  height: "530px",
  width: "870px",
  lat: 51.35,
  lng: 46.70,
    zoom: 7
});

   {% for marker in mark %}
       map.addMarker({
           lat: {{ marker["lat"] }},
           lng: {{ marker["lng"] }},
           title: "{{ marker["name"] }}",
           icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|"+"{{ colors[marker["district"]] }}",
           infoWindow: {
               content: '{{ marker["infobox"] }}'.replace(/&lt;/g, "<").replace(/&gt;/g, ">")
           }
       });
   {% endfor %}

   /*

    $( document ).ready(function(e) {
        $.ajax({
            type: "GET",
            url: "/markers_map",
            dataType: "json",
            success: function(data) {
                console.log(data);
                //map.removeMarkers();
                $.each(data, function(key, value){
                    map.addMarker({
                        lat: value.lat,
                        lng: value.lng,
                        title: value.name,
                        infoWindow: {
                            content: '<p>' + value.address + '</p>'
                        }
                    })
                })
                }
        });
    });*/
 </script>
  <!-- Подключение JS для google карты -->
    <script type="text/javascript" charset="utf-8">
    function submit(){
	    //webix.ajax.prototype.post('markers_map', JSON.stringify($$("myForm").getValues(), null, 2));
        webix.send('markers_map', $$("myForm").getValues());
    }
    webix.protoUI({
	    name:"formTree",
        defaults:{
            width: 320,
            scroll: false
	    },
    	setValue:function(value){ this.checkItem(value); },
    	getValue:function(){ return this.getChecked(); }
    }, webix.ui.tree);
    webix.ui({
        view:"form",
        id:"myForm",
        container: 'gmap-menu',
        elements: [
        {view:"formTree", name:"types",
            height: 430,
            url: "{{ url_for('static', filename='js/data.json') }}",
            template: "{common.checkbox()} #value#",
            threeState: true
        },
        {view:'select',
        name: 'district',
        value:0, options: [
            {% for district in dist %}
                {% if district.name=='--' %}
                    {id:"0", value: "{{district.name}}" }
                {% else %}
                    {id:"{{district.id}}", value: "{{district.name}}" }
                {% endif %}
                {% if not loop.last %},
                {% endif %}
            {% endfor %}
        ]},
        {view:"button", value: "Показать",
            width: 150,
            align:"center",
            click:submit
        }]});
    </script>
{% endblock %}

{% block content %}

<br>

{% include "_navigation.html" %}
<div id="result"></div>
<hr>
    <div id="disease_map"></div>
        <div class="map-container" align="center">
<!-- Отображение google карты -->
<table>
    <tr>
        <td>
     <div id="map">
     </div>
        </td>
        <td>
            <form action="/" method="POST">
                <div id="gmap-menu"></div>
            </form>
        </td>
    </tr>
    </table>
</div>



{% endblock %}
