{% extends "_base.html" %}
{% block content %}
{% from "_macro.html" import text_input with context %}
{% from "_macro.html" import submit with context %}
{% from "_macro.html" import select with context %}
{% from "_macro.html" import file_input with context %}

<div class="container">
    <div class="text-center">
        {% include "_navigation.html" %}
        {% include "_admin_navigation.html" %}

        <div>
            <hr/>
            <fieldset>
                <legend>Воспроизводство населения</legend>
            <form class="form" action="/population" method="POST" enctype="multipart/form-data">
                <input type=file name="reprod_file">
                <input type=submit value=Загрузить>
                {#{ file_input('reprod_file') }#}
                </form>
            </fieldset>
            <br><br><br>
            <button type="button" class="btn btn-info form-group"
                data-toggle="collapse"
                data-target="#collapse-input">Добавить новый элемент
        </button>
        <div id="collapse-input" class="collapse out">
            <hr/>
            <form class="form" action="/population" method="POST" name="reprod">
                {{ text_input('borned','Введите число родившихся...') }}
                {{ text_input('died','Введите число умерших...') }}
                {{ text_input('nat_add','Введите размер естественного прироста...') }}
                {{ select('district') }}
                {{ select('year') }}
                {{ submit('add') }}
            </form>
        </div>
        </div>
        <div>
            <hr/>
            <fieldset>
                <legend>Браки</legend>
            <form class="form" action="/population" method="POST" enctype="multipart/form-data">
                <input type=file name="marriage_file">
                <input type=submit value=Загрузить>
                {#{ file_input('reprod_file') }#}
            </form>
                </fieldset><br><br><br>
            <button type="button" class="btn btn-info form-group"
                data-toggle="collapse"
                data-target="#collapse-input">Добавить новый элемент
        </button>
        <div id="collapse-input" class="collapse out">
            <hr/>
            <form class="form" action="/population/marriage" method="POST" name="marriage">
                {{ text_input('marriage','Введите число браков...') }}
                {{ text_input('marriage_1000','Введите число браков на тысячу населения...') }}
                {{ text_input('divorce','Введите число разводов...') }}
                {{ text_input('divorce_1000','Введите число разводов на тысячу населения...') }}
                {{ select('district') }}
                {{ select('year') }}
                {{ submit('add') }}
            </form>
        </div>
        </div>
        <div>
            <hr/>
            <fieldset>
                <legend>Миграция населения</legend>
            <form class="form" action="/population" method="POST" enctype="multipart/form-data">
                <input type=file name="migration_file">
                <input type=submit value=Загрузить>
                {#{ file_input('reprod_file') }#}
            </form>
                </fieldset><br><br><br>
                <button type="button" class="btn btn-info form-group"
                data-toggle="collapse"
                data-target="#collapse-input">Добавить новый элемент
        </button>
        <div id="collapse-input" class="collapse out">
            <hr/>
            <form class="form" action="/population" method="POST">
                {{ text_input('added','Введите число прибывших людей...') }}
                {{ text_input('substituted','Введите число выбывших людей...') }}
                {{ text_input('diff','Введите величину миграционного прироста...') }}
                {{ select('district') }}
                {{ select('year') }}
                {{ submit('add') }}
            </form>
        </div>
        </div>
        <div>
            <hr/>
            <fieldset>
                <legend>Рождаемость населения</legend>
            <form class="form" action="/population" method="POST" enctype="multipart/form-data">
                <input type=file name="nathality_file">
                <input type=submit value=Загрузить>
                {#{ file_input('reprod_file') }#}
            </form>
                </fieldset><br><br><br>
            <button type="button" class="btn btn-info form-group"
                data-toggle="collapse"
                data-target="#collapse-input">Добавить новый элемент
        </button>
        <div id="collapse-input" class="collapse out">
            <hr/>
            <form class="form" action="/population" method="POST">
                {{ text_input('under_15','Введите число родившихся детей среди матерей в возрасте моложе 15 лет...') }}
                {{ text_input('_15_17','Введите число родившихся детей среди матерей в возрасте от 15 до 17 лет...') }}
                {{ text_input('_18_24','Введите число родившихся детей среди матерей в возрасте от 18 до 24 лет...') }}
                {{ text_input('_25_29','Введите число родившихся детей среди матерей в возрасте от 25 до 29 лет...') }}
                {{ text_input('_30_34','Введите число родившихся детей среди матерей в возрасте от 30 до 34 лет...') }}
                {{ text_input('_35_older','Введите число родившихся детей среди матерей в возрасте от 35 лет...') }}
                {{ select('district') }}
                {{ select('year') }}
                {{ submit('add') }}
            </form>
        </div>
        </div>
        </div>
        <div>
            <hr/>
            <fieldset>
                <legend>Смертность населения</legend>
            <form class="form" action="/population" method="POST" enctype="multipart/form-data">
                <input type=file name="mortality_file">
                <input type=submit value=Загрузить>
                {#{ file_input('reprod_file') }#}
            </form>
                </fieldset>
            <button type="button" class="btn btn-info form-group"
                data-toggle="collapse"
                data-target="#collapse-input">Добавить новый элемент
        </button>
        <div id="collapse-input" class="collapse out">
            <hr/>
            <form class="form" action="/population" method="POST">
                {{ text_input('all_population','Введите число умерших среди всего населения...') }}
                {{ text_input('city_population','Введите число умерших среди городского населения...') }}
                {{ text_input('village_population','Введите число умерших среди cельского населения...') }}
                {{ text_input('died_on_1000_borned','Введите число умерших на 1000 населения...') }}
                {{ text_input('died_under_1','Введите число умерших детей до одного года...') }}
                {{ select('district') }}
                {{ select('year') }}
                {{ submit('add') }}
            </form>
        </div>
        </div>
        <div>
            <hr/>
            <fieldset>
                <legend>Численность населения</legend>
                <form class="form" action="/population" method="POST" enctype="multipart/form-data">
                <input type=file name="population_file">
                <input type=submit value=Загрузить>
                {#{ file_input('reprod_file') }#}
            </form>
                </fieldset>
                <button type="button" class="btn btn-info form-group"
                data-toggle="collapse"
                data-target="#collapse-input">Добавить новый элемент
        </button>
        <div id="collapse-input" class="collapse out">
            <hr/>
            <form class="form" action="/population" method="POST">
                {{ text_input('year','Введите год...', True) }}
                {{ text_input('women','Введите число женщин...') }}
                {{ text_input('men','Введите число мужчин...') }}
                {{ text_input('children','Введите число детей...') }}
                {{ text_input('employable_men','Введите число работающих мужчин...') }}
                {{ text_input('employable_women','Введите число работающих женщин...') }}
                {{ select('district') }}
                {{ submit('add') }}
            </form>
        </div>

        </div>
    </div>
    {% if files  %}
        <h2> Cписок файлов </h2>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Имя файла</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>{{ file.id }}</td>
                            <td>{{ file.filename }}</td>
                            <td><i class="fa fa-check" aria-hidden="false"></i></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

{% if populations %}
<div class="data-container">
    <h2>Население районов</h2>
    <p>Таблица отображает данные о населении в районах</p>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Год</th>
                <th>Район</th>
                <th>Мужчин</th>
                <th>Женщин</th>
                <th>Детей</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for population in populations %}
            <tr>
                <form action="/population/delete" method="POST">
                    <input type="hidden" name="population_id"
                           value="{{population.id}}">
                    <td>{{ submit('delete') }}</td>
                    <td>{{population.id}}</td>
                    <td>{{population.year}}</td>
                    <td>{{population.district.name}}</td>
                    <td>{{population.men}}</td>
                    <td>{{population.women}}</td>
                    <td>{{population.children}}</td>
                </form>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}

