{% extends "_base.html" %}
{% block css %}
    <style>
    #legend_div {
        font-family: Arial, sans-serif;
        padding: 10px;
        margin: 10px;
        }
      </style>
{% endblock %}
{% block js %}
<script>

   var map = new GMaps({
  div: '#map',
  height: "530px",
  width: "870px",
  lat: 51.35,
  lng: 46.70,
    zoom: 7
});
   {% for p in poly %}
        polygon = map.drawPolygon({
            paths: {{ p['path'] }}, // pre-defined polygon shape
            strokeColor: '{{ p['stroke_color'] }}',
            strokeOpacity: {{ p['stroke_opacity'] }},
            strokeWeight: {{ p['stroke_weight'] }},
            fillColor: '#{{ p['fill_color'] }}',
            fillOpacity: 0.5
        });

   {% endfor %}
</script>
    <script type="text/javascript" charset="utf-8">
    function submit(form){
	    //webix.ajax.prototype.post('markers_map', JSON.stringify($$("myForm").getValues(), null, 2));
        webix.send('population_map', $$(form).getValues());
    }
    /*webix.protoUI({
	    name:"tabview",
        defaults:{
            width: 320,
            scroll: false
	    },
    	setValue:function(value){ this.checkItem(value); },
    	getValue:function(){ return this.getChecked(); }
    }, webix.ui.tree);*/
    var _tabs = JSON.parse('[{"id": "1", "value": "Численность"}, {"id": "2", "value": "Рождаемость"}, {"id": "3", "value": "Смертность"}, {"id": "4", "value": "Воспроизводство"}, {"id": "5", "value": "Браки"}, {"id": "6", "value": "Миграция"}]');
    var tabs = [];
    for (i = 0; i < _tabs.length; ++i) {
        tabs.push({header: _tabs[i]["value"]})
    }
     webix.ui({
        container: "gmap-menu",
        padding:8,
        id:"views",
        cells:[
            {
                id:"listView",
                view:"list",
                template:"#header#",
                type:{
                    height:60
                },
                select:true,
                data:tabs
            },
            {
                id:"formViewЧисленность",
                view:"form",
                scroll:false,
                elements:[
                    {
                        view:"radio",
                        vertical: true,
                        name:"population",
                        options: [
                            {"id": 1, "value": "Всего людей"},
                            {"id": 2, "value": "Мужчин"},
                            {"id": 3, "value": "Женщин"},
                            {"id": 4, "value": "Детей"},
                            {"id": 5, "value": "Подростков"},
                            {"id": 6, "value": "Взрослых"},
                            {"id": 7, "value": "Трудоспособного возраста"},
                            {"id": 8, "value": "Сельское население"}
                        ]
                    },
                    { view:"select", label: "Год",  name:"year",  placeholder:"Год", options: [
                            {% for year in years['Population'] %}
                                {
                                    "id": {{ year.id}},
                                    "value": {{ year.year }}
                                }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ], labelWidth: 70},
                    { margin:5, cols:[
                        { view:"button", value:"Назад" , click:"cancel()" },
                        { view:"button", value:"Показать", type:"form", click:"submit('formView'.concat('Численность'))" }
                    ]},
	                {}
                ]
            },
            {
                id:"formViewРождаемость",
                view:"form",
                scroll:false,
                elements:[
                    {
                        view:"radio",
                        vertical: true,
                        name:"nathality",
                        label: "Возраст матери",
                        options: [
                            {"id": 1, "value": "15-17 лет"},
                            {"id": 2, "value": "18-24 года"},
                            {"id": 3, "value": "25-29 лет"},
                            {"id": 4, "value": "30-34 лет"},
                            {"id": 5, "value": "35 лет и более"}
                        ]
                    },
                    { view:"select", label: "Год",  name:"year",  placeholder:"Год", options: [
                            {% for year in years['Nathality'] %}
                                {
                                    "id": {{ year.id}},
                                    "value": {{ year.year }}
                                }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ], labelWidth: 70},
                    { margin:5, cols:[
                        { view:"button", value:"Назад" , click:"cancel()" },
                        { view:"button", value:"Показать", type:"form", click:"submit('formView'.concat('Рождаемость'))"}
                    ]},
	                {}
                ]
            },
                {
                id:"formViewСмертность",
                view:"form",
                scroll:false,
                elements:[
                    {
                        view:"radio",
                        vertical: true,
                        name:"morthality",
                        label: "Умерших",
                        options: [
                            {"id": 1, "value": "Всего людей"},
                            {"id": 2, "value": "Городское население"},
                            {"id": 3, "value": "Сельское население"},
                            {"id": 4, "value": "Детей до года"}
                        ]
                    },
                    { view:"select", label: "Год",  name:"year",  placeholder:"Год", options: [
                            {% for year in years['Morthality'] %}
                                {
                                    "id": {{ year.id}},
                                    "value": {{ year.year }}
                                }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ], labelWidth: 70},
                    { margin:5, cols:[
                        { view:"button", value:"Назад" , click:"cancel()" },
                        { view:"button", value:"Показать", type:"form", click:"submit('formView'.concat('Смертность'))"}
                    ]},
	                {}
                ]
            },
                {
                id:"formViewВоспроизводство",
                view:"form",
                scroll:false,
                elements:[
                    {
                        view:"radio",
                        vertical: true,
                        name:"reprod",
                        options: [
                            {"id": 1, "value": "Родившиеся"},
                            {"id": 2, "value": "Умершие"},
                            {"id": 3, "value": "Естественный прирост"}
                        ]
                    },
                    { view:"select", label: "Год",  name:"year",  placeholder:"Год", options: [
                            {% for year in years['Reprod'] %}
                                {
                                    "id": {{ year.id}},
                                    "value": {{ year.year }}
                                }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ], labelWidth: 70},
                    { margin:5, cols:[
                        { view:"button", value:"Назад" , click:"cancel()" },
                        { view:"button", value:"Показать", type:"form", click:"submit('formView'.concat('Воспроизводство'))" }
                    ]},
	                {}
                ]
            },
                {
                id:"formViewБраки",
                view:"form",
                scroll:false,
                elements:[
                    {
                        view:"radio",
                        vertical: true,
                        name:"marriage",
                        options: [
                            {"id": 1, "value": "Браки"},
                            {"id": 2, "value": "Разводы"}
                        ]
                    },
                    {
                        view:"select",
                        label: "Год",
                        name:"year",
                        placeholder:"Год",
                        options: [
                            {% for year in years['Marriage'] %}
                                {
                                    "id": {{ year.id}},
                                    "value": {{ year.year }}
                                }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ],
                        labelWidth: 70},
                    { margin:5, cols:[
                        { view:"button", value:"Назад" , click:"cancel()" },
                        { view:"button", value:"Показать", type:"form", click:"submit('formView'.concat('Браки'))" }
                    ]},
	                {}
                ],
                rules: {
                    marriage: webix.rules.isChecked()
                }
            },
                {
                id:"formViewМиграция",
                view:"form",
                scroll:false,
                elements:[
                    {
                        view:"radio",
                        vertical: true,
                        name:"migration",
                        options: [
                            {"id": 1, "value": "Прибывшие"},
                            {"id": 2, "value": "Выбывшие"},
                            {"id": 3, "value": "Миграционный прирост"}
                        ]
                    },
                    {
                        view:"select",
                        label: "Год",
                        name:"year",
                        placeholder:"Год",
                        options: [
                            {% for year in years['Migration'] %}
                                {
                                    "id": {{ year.id}},
                                    "value": {{ year.year }}
                                }{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ],
                        labelWidth: 70},
                    { margin:5, cols:[
                        { view:"button", value:"Назад" , click:"cancel()" },
                        { view:"button", value:"Показать", type:"form", click:"submit('formView'.concat('Миграция'))"}
                    ]},
	                {}
                ]
            }
        ]


    });

    /*
     binds Form with List:
     - selected item loaded in Form,
     - updating data after form saving
    */
    $$("formViewЧисленность").bind($$('listView'));
    $$("formViewРождаемость").bind($$('listView'));
    $$("formViewСмертность").bind($$('listView'));
    $$("formViewВоспроизводство").bind($$('listView'));
    $$("formViewБраки").bind($$('listView'));
    $$("formViewМиграция").bind($$('listView'));

    /*
        opening form on item selection
    */
    $$("listView").attachEvent("onItemClick",function(id){
        var form_name = 'formView'.concat($$("listView").getItem(id).header);
        console.log(form_name);
        $$(form_name).show();
    });

    /*
        data saving and opening previous view
     */
    function save(){
        var form_name = 'formView'.concat($$("listView").getItem(id).header);
        submit(form_name)
    }
    /*
        cancel editing
    */
    function cancel(){
        $$("views").back();
    }
    </script>
{% endblock %}

{% block content %}

<br>

{% include "_navigation.html" %}

<hr>
        <div class="map-container" align="center">
<!-- Отображение google карты -->
    <table>
    <tr>
        <td>
            <div id="map"></div>
        </td>
        <td>
<div id="gmap-menu">
</div>
            <div id='legend_div' {% if dataset == {} %}style="display:none;"{% endif %}>
            {{ dataset['min'] }}
        <canvas id="legend" width="200" height="20" ></canvas>
                {{ dataset['max'] }}
        <script>
            var c=document.getElementById("legend");
            var ctx=c.getContext("2d");

            var grd=ctx.createLinearGradient(0,0,170,0);
            grd.addColorStop(0,"red");
            grd.addColorStop(1,"green");

            ctx.fillStyle=grd;
            ctx.fillRect(15,15,150,15);
        </script>
    </div>
        </td>
    </tr>
    </table>
</div>

    <canvas id="myChart" width="1210" height="300" {% if dataset == {} %}style="display:none;"{% endif %}></canvas>
<script>
var ctx = document.getElementById("myChart");
var l = [];
{% for label in dataset['labels'] %}
    l.push('{{ label.year }}');
{% endfor %}

var dm = {
    city_population: 'Городское население',
    all_population: 'Всего людей',
    village_population: 'Cельское население',
    died_under_1: 'Детей до года',
    borned: 'Родившиеся',
    died: 'Умершие',
    marriage: 'Браки',
    divorce: 'Разводы',
    added: 'Прибывшие',
    substituted: 'Выбывшие',
    diff: 'Миграционный прирост'
};

var data = {

    labels: l,
    datasets: [
        {
            label: dm["{{ dataset['label'] }}"],
            //label: '{{ dataset['label'] }}',
            fill: false,
            lineTension: 0,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: {{ dataset['data'] }},
            spanGaps: false
        }
    ]
};
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

{% endblock %}
